body{
	background-color: black;
	color: white;
}

.fathead{
	font-family: 'VT323', monospace;
	text-align: center;
	font-size: 100px;
}

.fathead2{
	font-family: 'VT323', monospace;
	text-align: center;
	font-size: 100px;
}

#one{
	text-align: center;
}

.hovers{
	text-align: center;
}

#link1{
	position: relative;
	bottom:-10px;
	font-family: 'VT323', monospace;
	font-size: 45px;
}

#link2{
	position: relative;
	bottom:-10px;
	font-family: 'VT323', monospace;
	font-size: 45px;
	text-align: center;
}