html {
	background-color:pink;
}

body {
	width:960px;
}

#intro {
	background-color: rgb(100, 50, 150);
}

#Francois {
	background-color: hsla(168, 73%, 96%, 0.5);
}

#Kissinger {
	background-color:cyan;
}

#Bum {
	background-color:red;
	margin:40px;
}

.firstparagraph{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding:20px;
	margin:20px;
}

